@font-face {
  font-family: PoetsenOne;
  src: url(./fonts/PoetsenOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: SansitaOne;
  src: url(./fonts/SansitaOne.ttf) format("truetype");
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #00b4d8, #90e0ef);
  font-family: PoetsenOne;
}

.container {
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #00b4d8;
}

.container form .user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 10px 12px 10px;
}

form .user-info .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-info .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-info .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-info .input-box input:focus,
.user-info .input-box input:valid {
  border-color: #00b4d8;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .submit {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: linear-gradient(120deg, #00b4d8, #90e0ef);
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
}

form .submit:hover {
  background: linear-gradient(120deg, #90e0ef, #00b4d8);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-info .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
}

.Loginback {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}
