@font-face {
    font-family: PoetsenOne;
    src: url(./fonts/PoetsenOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: SansitaOne;
    src: url(./fonts/SansitaOne.ttf) format("truetype")
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: PoetsenOne;
    margin: 0 0 300px;
    /* bottom = footer height */
}

.navbar {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 18px;
    color: white;
}

.dropdown-item {
    font-family: PoetsenOne, cursive;
    font-size: 0.8em;
    color: #3A3A3A;
}

.navbar-brand {
    font-family: SansitaOne, cursive;
    font-size: 24px;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
    transition: 200ms;
}

.navbar-brand:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.nav-item {
    margin: 0 10px;
    transition: 500ms;
}

.nav-item button {
    transition: 300ms;
}

.nav-item button:hover {
    opacity: 0.8;
}

.nav-item button a {
    padding: 10px 0px;
    text-decoration: none;
    color: black;
}

.nav-link {
    padding: 0;
    position: relative;
    transition: 300ms;
    opacity: 1;
}

.nav-link:hover {
    opacity: 1;
    transform: scale(1.05);
    color: white;
}

.nav-link img {
    position: relative;
    bottom: 3px;
    opacity: 1;
}

.user {
    font-family: "PoetsenOne";
    font-size: 16px;
    color: #EECD49;
}


/* ////////////////////////////////////////////////////////////////////////////// */


/*  Footer ///////////////////////////////////// */

.footer {
    height: 300px;
    background-color: #3A3A3A;
    font-family: "Pragati Narrow";
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    display: inline-block;
    width: auto;
}

.footer .info {
    height: 270px;
    font-size: 18px;
}

.brand {
    font-family: SansitaOne, cursive;
    font-size: 24px;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
    transition: 200ms;
    color: inherit;
}

.brand:hover {
    opacity: 0.8;
    color: inherit;
}

.social a img {
    transition: 500ms;
}

.social a img:hover {
    transform: rotateZ(360deg);
}

.footer .copy {
    height: 30px;
    background-color: #EECD49;
    font-weight: bold;
    color: #3A3A3A;
}

.footer .copy a {
    display: inline;
    width: auto;
    padding: 0;
    color: #125DA1;
}


/*  Utilities ///////////////////////////////////// */

.text-title {
    color: #125DA1!important;
}

.bg-blue {
    background-color: #53ABED;
}

.btn-blue {
    color: white;
    background-color: #53ABED;
    transition: 400ms;
    border: none;
    border-radius: 5px;
    font-family: PoetsenOne;
}

.btn-blue:hover {
    opacity: 0.8;
    color: white;
    transform: scale(1.02);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}